/*in the name of Allah*/

p
{
    width: 200px;
    height: 40px;
    background-color: blue;
    color: white;
}

p:hover
{
    /*transform: scale(2, 3);*/
    height: 80px;
    width: 400px;
    /*transition: height 5s, width 5s;*/
    transition: height 1s, width 0.8s;
}

