/*in the name of Allah*/

#div_body
{
    position: absolute;
    left: 20.34vw;
    width: 59.5vw;
    height: max-content;
    /*height: 1023px;*/
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-image: url("files/header.png");
    z-index: 5;
}

#header_right
{
    background-image: url("files/menu_droit.png");
    height: 270px;
    width: 230px;
    text-align: center;
    z-index: 3;
}

#header_right > p
{
    border-width: 0;
    border-bottom-width: 3px;
    border-style: solid;
    border-color: black;
}

#sous_header
{
    background-image: url("files/sousHeader.png");
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    z-index: 0;

    height: 232px;

    position: relative;
    bottom: 34px;
}

#sous_header > img
{
    z-index: 3;
}

#video
{
    position: relative;
    left: 50px;
}

img[src = "files/video.png"]
{
    position: relative;
    left: 10px;
    z-index: 2;
}

img[src = "files/bloc5.png"]
{
    position: relative;
    bottom: 130px;
}

img[src = "files/bg.png"]
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    width: 100vw;
}

img[src = "files/footer.png"]
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    z-index: 5;
}

