/*بسم الله الرحمن الرحيم*/

.abstract_border_round
{
    border-style: hidden;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

body
{
    background-color: rgb(199, 216, 226);
    height: 100vh;
    font-family: sans-serif;
    margin: 0;
}

header
{
    height: 10vh;
    background-color: #330066;
    color: white;
}

#header_logo, #header_middle, #header_right
{
    height: 100%;
    vertical-align: bottom;
}

#header_logo
{
    float: left;
}

#header_middle
{
    float: left;
    margin-left: 40vw;
    vertical-align: middle;
}

#header_right
{
    margin-right: 5vw;
    float: right;
}

#website_def, #website_categories, footer
{
    text-align: center;
    margin-right: 5vw;
    margin-left: 5vw;
}

#website_def
{
    height: 25vh;
}

#website_def_right
{
    float: right;
}

#website_def_left
{
    padding: 2%;
}

#website_categories
{
    height: 40vh;
    background-color: rgb(255,100,149);
    color: white;
}

#m_footer
{
    height:10vh;
    background-color: #330066;
    color: white;
}

.m_button
{
    background-color: rgb(255,100,149);
    color: white;
    font-size: x-large;
}
