/*in the name of Allah*/
*
{
    margin: 0;
}

header
{
    height: 15vh;
    background-color: aqua;
    margin: 0;
    color: aqua;
    background-image: url("../AllahImage");
}

#block_middle
{
    height: 70vh;
    background-color: yellow;
    margin: 0;
}

#section_content
{
    text-align: center;
}

footer
{
    height: 15vh;
    background-color: aqua;
    margin: 0;
    color: aqua;
    background-image: url("../AllahImage");
}

#nav_upper_right
{
    float: right;
    height: 50%;
    width: 20vw;
    background-image: url("../AllahImage");
    background-size: fill;
    background-repeat: no-repeat;
}

#nav_upper_left
{
    float: left;
    background-color: rgb(62, 240, 136);
    width: 10vw;
    height: 50%;
}

#nav_lower_left
{
    float: left;
    clear: left;
    background-color: rgb(229, 49, 229);
    width: 10vw;
    height: 50%;
}

nav a
{
    margin-left: 5%;
}

nav hr
{
    color: azure;
}
