/*in the name of Allah*/

body
{
    height: 100vh;
    width: 100vw;
}

#div_inscription
{
    background-color: lightblue;

    border: 1;
    border-style: solid;
    border-color: orange;
    border-top-right-radius: 15%;

    width: max-content;

    margin: 0 auto;
}

input
{
    margin-top: 14px;
}

.temp_inherit
{
    margin-top: 7px;
}

select
{
    margin-block-start: 16px;
}

#div_inscription_left
{
    width: max-content;
    float: left;
}

#div_inscription_right
{
    width: auto;
    float: right;
    text-align: left;
}
