/*in the name of Allah*/
body
{
    margin: 0;
}

.temp_no_margin
{
    margin: 0;
}

#block_top
{
    height: 15vh;
    background-color: aqua;
    margin: 0;
    float:none;
}

#block_middle
{
    height: 70vh;
    background-color: yellow;
    margin: 0;
}

#block_bottom
{
    height: 15vh;
    background-color: aqua;
    margin: 0;
}
