/*in the name of Allah*/

body
{
    background-color: yellow;
}

h1
{
    color: purple;
    text-align: center;
}

#middle_left
{
    float: left;
    width: 80vw;
    text-align: center;
    color: purple;
}

#middle_right
{
    float: right;
    width: 10vw;
}

.labels
{
    background-color: white;
    color: blue;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#div_bottom
{
    clear: both;
    text-align: center;
}
