/*in the name of Allah*/

body
{
    background-color: yellow;
}

h1
{
    color: purple;
    text-align: center;
}

#middle_left
{
    float: left;
    width: 80vw;
    text-align: center;
    color: purple;
}

#middle_right
{
    float: right;
    width: 10vw;
    margin-right: 1vw;
}

.labels
{
    background-color: white;
    color: blue;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-color: black;
    border-right-width: 1vw;
    border-style: none;
    border-right-style: solid;
}

#div_bottom
{
    background-image: image();

    clear: both;
    text-align: center;
    margin-right: 1%;
}
